/* REF2029 Screen */

.ref2029_benchmarks h2,
.ref2029_reports h2{
    text-align: left;
}

#benchmarks{
    text-align: left;
}

.ref2029_benchmarks > form div{
    margin-bottom: 20px;
    text-align: left;
}

.benchmark{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    text-align: left;
    margin-bottom: 10px;
    padding: 10px;

    background: #f8f9fa;
    border: 1px solid #c6c7c8;
    border-left: 5px solid #e19141; // default to amber/pending status
}

.benchmark.benchmark_active{
    border-left: 5px solid #1f7e02;
}

.benchmark_metadata{
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.benchmark_metadata dt{
    font-weight: bold;
}

.benchmark_metadata dd{
    margin: 0;
}

.benchmark .ep_block{
    display: contents;
}

.ref2029_reports ul{
    list-style: none;
}

/* Selections */
.ref2029_eprint_tab .create_selection{
    text-align: left;
}

.ref2029_eprint_tab .create_selection form{
    display: block;
    margin-top: 20px;
}

.ref2029_eprint_tab .create_selection label{
    font-weight: bold;
    margin-right: 5px;
}

.ref2029_eprint_tab .eprint_selections{
    text-align: left;
}

.eprint_selections .ref2029_selection{
    margin-bottom: 10px;
    padding: 10px;
    background: #f8f9fa;
    border: 1px solid #c6c7c8;
}

.eprint_selections .ref2029_selection .ref2029_selection_overview{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.eprint_selections .ref2029_selection h3{
    margin: 0px;
}

.eprint_selections .ref2029_selection .ref2029_selection_overview .selection_metadata{
    margin: 10px 0 10px 0;
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.selection_metadata dt{
    font-weight: bold;
}

.selection_metadata dd{
    margin: 0;
}

.ref2029_selection .ep_block{
    display: contents;
}

.eprint_selections .ref2029_selection .ref2029_selection_reviews{
    text-align: left;
}

/* Reviews */
.ref2029_request_review > form{
    display: table;
    border-spacing: 5px;
}

.ref2029_selection_reviews .ref2029_request_review label{
    display: table-row;
    font-weight: bold;
}

.ref2029_selection_reviews .ref2029_request_review label span{
    display: table-cell;
    vertical-align: middle;
}

.ref2029_selection_review{
    text-align: left;
    margin-top: 10px;
    padding: 10px;
    
    background: linen;
    border: 1px solid #c6c7c8;
    border-left: 5px solid #e19141; // default to amber/pending status
}

.ref2029_selection_review.review_complete{
    border-left: 5px solid #1f7e02;
}

.ref2029_selection_review .review_metadata{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.review_metadata dt, .review_rating dt{
    font-weight: bold;
}

.review_metadata dd, .review_rating dd{
    margin: 0;
}

.review_content{
    margin-top: 10px;
    padding: 10px;
}

.review_content span{
    display: block;
}

.ref2029_review_actions{
    margin-top: 10px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.ref2029_review_pending_actions ul{
    margin-left: .5em;
}

/*** Reports ***/
#ep_report_ref2029_add_selection_container .ep_report_row_bullets li:last-child{
    list-style: none;
}

#ep_report_ref2029_add_selection_container .ep_report_row_bullets .ref2029_new_selection_error{
    background: #ffc0c0;
    padding: 10px;
    width: fit-content;
    display: none;
}
